body{
 background-color: #F21F8B;
 font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    background-color: #9E0654;
    
}
header {
    background-color: #1FDAF2;
    color: #fff;
    padding: 10px 0;
}
.boton{
    text-align: center;
}
.boton ul{
    list-style-type: none;
    padding: 0;
}
.boton ul li {
    display: inline;
    margin: 0 10px;
}
.boton ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
}
.boton ul li a:hover {
    background-color: #486E73;
}
main {
    padding: 20px;
}
section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}
footer {
    text-align: center;
    padding: 0,5%;
    background-color: #1FDAF2;
    color: #fff;
    bottom: 0;
    width: 100%;
}
.imagenes img {
margin-right: 70px; 
margin-left: 30px;
border-radius: 10%;
}
.Oufits img{
    width: 200px; 
    height: auto; 
    margin-right: 50px; 
margin-left: 80px;
border-radius: 10%;
}
h2{
background-color: rgba(242, 240, 0, 0.9)
}